:root {
  --main-bg-color: #e3e7e8;
  --primary-color: #366f4e;
}

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  background-color: var(--main-bg-color);
}

#main {
  display: flex;
  height: 100vh;
  justify-content: center;
}

div {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20vw;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

h2 {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  transform: rotate(180deg);
  margin: 0;
  writing-mode: vertical-rl;
}

h2 span {
  animation: 1s flickerAnimation infinite;
  animation-delay: 2s;
}

.left {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
  justify-content: right;
  z-index: 2;
}

.right {
  color: var(--primary-color);
}

.right-cover {
  background: var(--primary-color);
  width: 6rem;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: -50vw;
  z-index: 1;
  animation: 3.5s cubic-bezier(0.55, 0.08, 0.02, 0.83) 0s 1 slide-out;
}

.social {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
}

.social img {
  height: 2rem;
}

@keyframes slide-out {
  0% {
    left: 0vw;
  }
  100% {
    left: -50vw;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
