@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #2D2D2D;
  --background: #FFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FFF;
    --background: #2D2D2D;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}