@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary font-satoshi;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Custom text selection */
  ::selection {
    background-color: #3f5c47; /* accent color */
    color: #FFFFE3; /* primary color */
  }

  ::-moz-selection {
    background-color: #3f5c47; /* accent color */
    color: #FFFFE3; /* primary color */
  }
}