@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary font-satoshi;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Custom text selection */
  ::selection {
    background-color: #606055; /* secondary color */
    color: #DEDED9; /* primary color */
  }

  ::-moz-selection {
    background-color: #606055; /* secondary color */
    color: #DEDED9; /* primary color */
  }
}

@layer utilities {
  .backdrop-blur-card {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  
  .backdrop-blur-light {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}